SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PUBLISHABLE_KEY=
JWT_SECRET=
# UUID da sua conta em Supabase Authentication > Users
OWNER_OPEN_ID=
NODE_ENV=development
PORT=3000
